@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: "SchoolSafetyConstellation";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeoljariTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoL.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoL.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoL.otf")
      format("opentype"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoL.ttf")
      format("truetype");
}
@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeo.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeo.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeo.otf")
      format("opentype"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeo.ttf")
      format("truetype");
}
@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoB.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoB.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoB.otf")
      format("opentype"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoB.ttf")
      format("truetype");
}
@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoEB.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoEB.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoEB.otf")
      format("opentype"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoEB.ttf")
      format("truetype");
}
@font-face {
  font-family: "Nanum Square Neo";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoBL.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoBL.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoBL.otf")
      format("opentype"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/NanumSquareNeo/NanumSquareNeoBL.ttf")
      format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;

  font-family: "Pretendard", sans-serif;
  line-height: 150%;

  -webkit-tap-highlight-color: transparent;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}

*:before,
*:after {
  box-sizing: border-box;
}
